[Unit]
Description=gunicorn daemon
Requires=rocket.socket
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/www/rocket
ExecStart=/home/ralph/venvs/rocket_env/bin/gunicorn \
        --access-logfile - \
        --workers 3 \
        --bind unix:/run/rocket.sock \
        rocket.wsgi:application
